{#extends 引用这个模板，这个模板引用base，有的就不用再写了 因为就是替换#}
{% extends 'blog/blog_list.html' %}

{% block title %}
    {{ blog_type.type_name }}
{% endblock %}

{% block blog_list_title %}
{#    分类：{{ blog_type.type_name }}（一共有{{ blogs|length }}篇博客）#}
    分类：{{ blog_type.type_name }}|
{#    （一共有{{ page_of_blogs.paginator.count }}篇博客）#}
    <a href="{% url 'blog_list' %}">查看全部博客</a>
{% endblock %}

{#模板二次嵌套#}
{#{% block content %}#}
{#    <h3>{{ blog_type.type_name }}</h3>#}
{##}
{#    {% for blog in blogs %}#}
{#        <a href="{% url 'blog_detail' blog.pk %}">#}
{#            <h3>{{ blog.title }}</h3>#}
{#        </a>#}
{#        <p>{{ blog.content|truncatechars:30 }}</p>#}
{##}
{#    {% empty %}#}
{#        <p>---暂无博客，敬请期待---</p>#}
{#    {% endfor %}#}
{##}
    {# 调用django自带的方法比较方便 #}
{#    <p></p>#}
    {# <p>一共有{{ blogs_count}}篇博客</p>#}
{##}
{#{% endblock %}#}

{#原始页面，没有模板嵌套#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>{{ blog_type.type_name }}</title>#}
{#</head>#}
{#<body>#}
{#    <div>#}
{#        <a href="{% url 'home' %}">#}
{#            <h3>个人博客网站</h3>#}
{#        </a>#}
{#    </div>#}
{##}
{#    <hr>#}
{#    <h3>{{ blog_type.type_name }}</h3>#}
{##}
{#    <p>一共有{{ blogs|length }}篇博客</p>#}
{#    <p>一共有{{ blogs_count}}篇博客</p>#}
{##}
{#    {% for blog in blogs %}#}
{#        <a href="{% url 'blog_detail' blog.pk %}">#}
{#            <h3>{{ blog.title }}</h3>#}
{#        </a>#}
{#        <p>{{ blog.content|truncatechars:30 }}</p>#}
{##}
{#    {% empty %}#}
{#        <p>---暂无博客，敬请期待---</p>#}
{#    {% endfor %}#}
{##}
{#</body>#}
{#</html>#}

{#这个模板嵌套好牛逼#}