{% extends 'form.html' %}
{% block other_buttons %}
    {# 发送验证码的按钮 #}
    <button id="send_code" class="btn btn-primary">
        发送验证码
    </button>
{% endblock %}

{# 异步处理 #}
{% block script_extend %}
    <script type="text/javascript">
        //发送验证码
        $("#send_code").click(function () {
            // #send_code
            console.log(this);

            //获取邮箱输入框的值：val()函数
            var email = $("#id_email").val();

            if (email === ''){
                $("#tip").text('* 邮箱不能为空 *');
                return false
            }
            // 往邮箱发送验证码
            $.ajax({
                url: '{% url 'send_verification_code' %}',
                type: 'GET',
                data: {
                    //将要绑定的邮箱传递过去
                    'email': email,
                    'send_for': 'bind_email_code',
                },
                cache:false,
                success: function (data) {
                    if (data['status'] === 'ERROR'){
                        alert(data['status']);
                    }
                }
            });

            //点击完发送验证码后将按钮变灰，无法再次点击
            $(this).addClass('disabled');
            $(this).attr('disabled', true);

            // 计时器30s，之后按钮恢复原状
            var time = 30;
            $(this).text(time + 's');

            //每一秒执行{}里面的代码,JS是毫秒，python是秒
            //不过下面这个不能使用function，而是要用箭头函数，有点迷
            //如果使用function 的话，this就指向window了应该。
            var interval = setInterval(()=>{
                // #send_code,外层作用域的this
                console.log(this);
                //setInterval() 函数会一直运行，直到倒计时结束，恢复按钮样式
                if(time <= 0){
                    clearInterval(interval);
                    $(this).removeClass('disabled');
                    $(this).attr('disabled', false);
                    $(this).text('发送验证码');
                    return false;
                }
                time --;
                $(this).text(time+ 's');
            }, 1000);


        })
    </script>
{% endblock %}

{# 1. JS中this的用法 ？？？ #}

{#2. setInterval()方法可以按照指定的周期（以毫秒计 1000ms=1s）来调用函数或计算表达式 #}
{#setInterval()方法会不停的调用函数，知道clearInterval()被调用或窗口关闭，#}
{#由setInterval() 函数返回的id值 可以用作clearInterval() 方法的参数 #}

{#3. 箭头函数：与外层代码平级！箭头函数本身没有this,箭头函数内部的this就是外层代码块的this #}
{#这个和this的作用域有关系呢？#}

{#(1)this 没有调用默认指向window #}
{#(2)普通函数谁调用指向谁#}
{#(3)箭头函数中的this就是外层代码块的this #}